apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    providers:
      kubernetesCRD: {}

    certificatesResolvers:
      letsencrypt:
        acme:
          email: 121001aakash@gmail.com
          storage: /data/acme.json
          httpChallenge:
            entryPoint: web

    persistence:
      enabled: true
      path: /data
      size: 1Gi

