ports:
  web:
    port: 80
    expose:
      default: true

  websecure:
    port: 443
    expose:
      default: true

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

certificatesResolvers:
  letsencrypt:
    acme:
      email: "121001aakash@gmail.com"
      storage: "/data/acme.json"
      httpChallenge:
        entryPoint: web

providers:
  kubernetesCRD: {}
  kubernetesIngress: {}

ingressRoute:
  dashboard:
    enabled: true

additionalArguments:
  - "--api.dashboard=true"
  - "--certificatesresolvers.letsencrypt.acme.httpchallenge=true"
  - "--certificatesresolvers.letsencrypt.acme.email=121001aakash@gmail.com"
  - "--certificatesresolvers.letsencrypt.acme.storage=/data/acme.json"
  - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web"

persistence:
  enabled: true
  path: /data
  size: 1Gi

